// Variables
$fontSize: 16px;
$borderRadius: 2.125rem;
$gradientBackground: linear-gradient(180deg, rgba(112,38,164,1) 0%, rgba(70,38,129,1) 100%);;
$rootLight: rgb(255, 255, 255);	
$rootDark: rgb(70, 38, 129);
$shadowColor: rgba(0, 0, 0, 0.2);
$padding: 2.813rem;
$transition: 0.2s all ease;

$h1: 1.96rem;
$h2: 1.209rem;
$h3: 1.026rem;
$p: 0.568rem;

$smallScreen: 1100px;

// Mixins
@mixin flex ($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// Remove default styling from all elements
* {
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}

// HTML sytling
html {
	// Root font size to calculate size in rem
	font-size: 16px;
}

// Body styling
body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	min-height: 100vh;
	@include flex();
	color: $rootDark;
	// Fallback background color
	background: $rootDark;
	background: $gradientBackground;
}

h1 {
	font-size: 3rem;
	font-weight: 900;

	@media screen and (max-width: $smallScreen) {
		font-size: 2rem;
	}
}

button {
	outline: none;
	border: none;
	background: transparent;
	color: $rootDark;
	cursor: pointer;
	transition: $transition;
}

button:hover {
	transform: scale(1.1);
}

hr {
	width: 100%;
	color: $rootDark;
	background: $rootDark;
	outline: $rootDark;
	border: 1px solid $rootDark;
}

// Card styling
.card {
	width: 70vw;
	min-height: 70vh;
	border-radius: $borderRadius;
	@include flex();
	box-shadow: 0 0 60px 10px $shadowColor;
		
	@media screen and (max-width: $smallScreen) {
		height: 90vh;
		width: 90vw;
		@include flex(column);
		position: relative;
		border-radius: none;
	}
}

// Card content styling
.card__content {
	min-width: 50%;
	height: 70vh;
	@include flex(column);

	@media screen and (max-width: $smallScreen) {
		width: 100%;
		height: 70%;
		position: absolute;
		bottom: 0;
	}
}

// Card content left styling
.card__content--left {
	border-radius: $borderRadius 0 0 $borderRadius;
	position: relative;

	@media screen and (max-width: $smallScreen) {
		position: absolute;
		top: 0;
		border-radius: none;
	}
}

// Back btn style
.btn--back {
	position: absolute;
	top: 0;
	left: 0;
	color: $rootLight;
	font-size: 1rem;
	margin: 1rem;
	@include flex();
	z-index: 5;

	@media screen and (max-width: $smallScreen) {
		margin: 3rem 1rem;
	}
}

.img__container--steve {
	width: 100%;
	height: 100%;

	@media screen and (max-width: $smallScreen) {
		height: 50%;
		position: absolute;
		top: 0;
	}
}

// Left content image styling
.image--steve {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	border-radius: $borderRadius 0 0 $borderRadius;

	@media screen and (max-width: $smallScreen) {
		border-radius: 0 0 0 0;
	}
}

// Card content right styling
.card__content--right {
	border-radius: 0 $borderRadius $borderRadius 0;
	background: $rootLight;
	padding: 1rem $padding;

	@media screen and (max-width: $smallScreen) {
		border-radius: $borderRadius $borderRadius 0 0;
		padding: 1rem;
		@include flex(column);
	}
}

// Card content container styling
.card__content__container {
	width: 100%;
	padding: 0 1rem;
	min-height: auto;
}

.card__content__container--1 {
	@include flex(column, space-around, flex-start);
}

// Content container top styling
.container__text--top {
	width: 100%;
	@include flex(row, space-between);
}

// Dots container styling and hover styling
.dots__container {
	width: 1.563rem;
	height: 100%;
	@include flex(row, space-between);
	cursor: pointer;

	&:hover .dot {
		transform: scale(1.4);
	}
}

// Dot styling
.dot {
	background: $rootDark;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	transition: $transition;
}

.container__text--bottom {
	width: 100%;
}

// Follow button styling
.btn--follow {
	@include flex();
	color: $rootDark;

	@media screen and (max-width: $smallScreen) {
		margin-top: 10px;
	}
}

// Plus sign styling
.plus-sign {
	border: 3px solid $rootDark;
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	@include flex();
	font-weight: 800;

	@media screen and (max-width: $smallScreen) {
		border: 1px solid $rootDark;
		font-weight: 600;
		height: 1rem;
		width: 1rem;
	}
}

.follow-text {
	margin-left: 5px;
	text-transform: uppercase;
	font-weight: 700;
}

// Card container 2 style
.card__content__container--2 {
	width: 100%;
	@include flex(row, space-between);
	padding: 0 1.25rem;
}

// Data element styling
.data {
	font-size: 1.6rem;
}

.data-label {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 900;
}

// Card container 3 styling
.card__content__container--3 {
	width: 100%;
	min-height: 50%;

	@media screen and (max-width: $smallScreen) {
		min-height: 60%;
	}
}

// HR container styling
.hr__container {
	width: 100%;
	padding: 0 0.625rem;
	margin: 0.8rem 0;
}

// Title text styling for card content 3
.title-text {
	font-weight: 900;
	text-transform: uppercase;
	@include flex(row, flex-start);
	margin-left: 5px;
}

.categories__container {
	width: 100%;
	height: 100%;
}

.category {
	min-height: 25%;
	flex-grow: 1;
	@include flex(row, space-between);
	font-size: 2rem;
	padding: 0 5px;

	@media screen and (max-width: $smallScreen) {
		height: 30%;
		font-size: 1.8rem;
	}
}

// Category divider
.cat__divider {
	width: 100%;
	background: $rootDark;
	height: 1px;
}

// Arrow container and arrow styling
.arrow__container {
	height: auto;
	width: auto;
}

.arrow {
	width: 1.1rem;
	height: 1.1rem;
	border-top: 5px solid $rootDark;
	border-right: 5px solid $rootDark;
	transform: rotate(45deg);
}

.arrow--left {
	transform: rotate(225deg);
	border-top: 2px solid $rootLight;
	border-right: 2px solid $rootLight;
}

.arrow--right {
	transform: rotate(45deg);
	border-top: 2px solid $rootDark;
	border-right: 2px solid $rootDark;
}

// Classses that animate specified elements
.rotate:hover .arrow--right {
	animation: rotate-right 0.8s 1;
}

.rotate:hover .arrow--left {
	animation: rotate-left 0.8s 1;
}

// Animations
@keyframes rotate-right {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(415deg);
	}
}

@keyframes rotate-left {
	from {
		transform: rotate(225deg);
	}
	to {
		transform: rotate(585deg);
	}
}