* {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #462681;
  background: #462681;
  background: -webkit-gradient(linear, left top, left bottom, from(#7026a4), to(#462681));
  background: linear-gradient(180deg, #7026a4 0%, #462681 100%);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

button {
  outline: none;
  border: none;
  background: transparent;
  color: #462681;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

hr {
  width: 100%;
  color: #462681;
  background: #462681;
  outline: #462681;
  border: 1px solid #462681;
}

.card {
  width: 70vw;
  min-height: 70vh;
  border-radius: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.2);
}

.card__content {
  min-width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__content--left {
  border-radius: 2.125rem 0 0 2.125rem;
}

.image--steve {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.125rem 0 0 2.125rem;
}

.card__content--right {
  border-radius: 0 2.125rem 2.125rem 0;
  background: white;
  padding: 1rem 2.813rem;
}

.card__content__container {
  width: 100%;
  padding: 0 0.625rem;
  min-height: auto;
}

.card__content__container:last-child {
  border-bottom: none;
}

.card__content__container--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container__text--top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots__container {
  width: 1.563rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dots__container:hover .dot {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.dot {
  background: #462681;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.container__text--bottom {
  width: 100%;
}

.btn--follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #462681;
}

.plus-sign {
  border: 3px solid #462681;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
}

.follow-text {
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.card__content__container--2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25rem;
}

.data {
  font-size: 1.6rem;
}

.data-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
}

.card__content__container--3 {
  width: 100%;
  min-height: 50%;
}

.hr__container {
  width: 100%;
  padding: 0 0.625rem;
  margin: 1rem 0;
}

.title-text {
  font-weight: 900;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__container {
  width: 100%;
  height: 100%;
}

.category {
  border-bottom: 1px solid #462681;
  height: 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */