* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#7026a4), to(#462681));
  background: linear-gradient(180deg, #7026a4 0%, #462681 100%);
}

@media screen and (min-width: 1029px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  width: 90vw;
  height: 90vh;
  position: relative;
}

@media screen and (min-width: 1029px) {
  .card {
    width: 40vw;
  }
}

.card-image__container {
  width: 100%;
  height: 40vh;
  position: relative;
}

.btn__container {
  width: auto;
  height: auto;
  position: absolute;
}

.btn {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn--back {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.btn--back:hover .arrow {
  -webkit-animation: rotate 1s 1;
          animation: rotate 1s 1;
}

.arrow__container {
  width: auto;
  height: auto;
}

.arrow__container--left {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.arrow__container--right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow {
  width: 0.9rem;
  height: 0.9rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.arrow-category {
  border-top: 2px solid #462681;
  border-right: 2px solid #462681;
}

.img__container {
  width: 100%;
  height: 100%;
}

.img--steve {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content__container {
  width: 100%;
  min-height: 50vh;
  background: white;
  position: absolute;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 100%;
  min-height: 50vh;
}

@media screen and (min-width: 1029px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
}

.content-section {
  padding: 0 0.5rem;
}

.content-section--1 {
  height: auto;
}

@media screen and (min-width: 1029px) {
  .content-section--1 {
    height: 25%;
  }
}

.section--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  color: #462681;
  font-weight: 900;
  font-size: 2.5rem;
}

.more__container {
  width: 25px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.more__container:hover .dot {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dot {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  width: 6px;
  height: 6px;
  background: #462681;
  border-radius: 50%;
}

.btn--follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #462681;
  text-transform: uppercase;
  font-weight: 900;
}

.plus-icon__container {
  margin-right: 5px;
}

.circle {
  width: 1rem;
  height: 1rem;
  border: 2px solid #462681;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #462681;
  font-size: 1.2rem;
}

.section-divider {
  border: 1px solid #462681;
  color: #462681;
  background: #462681;
  margin: 0.7rem 0;
}

.content-section--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: auto;
}

@media screen and (min-width: 1029px) {
  .content-section--2 {
    height: 25%;
  }
}

.data__container {
  text-align: center;
  color: #462681;
}

.data {
  font-size: 1.2rem;
  font-weight: 900;
}

.data-label {
  font-weight: 900;
  font-size: 0.8rem;
}

.content-section--3 {
  width: 100%;
  min-height: 30vh;
}

@media screen and (min-width: 1029px) {
  .content-section--3 {
    height: 50%;
  }
}

.title__container {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 900;
  color: #462681;
  padding-left: 0.5rem;
}

.category__container {
  width: 100%;
  height: auto;
  color: #462681;
}

.category {
  width: 100%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #462681;
  padding: 0 0.5rem;
  cursor: pointer;
}

.category:hover .arrow {
  -webkit-animation: rotate 1s 1;
          animation: rotate 1s 1;
}

.category-name {
  padding: 1rem 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */